html[lang="en"] {
  font-family: var(--font-source-sans), 'Arial', sans-serif;
}

html[lang="th"] {
  font-family: var(--font-dbhelvethaica), Helvetica, 'Arial', sans-serif;
}



/* English (default) styles for mobile screens */
@media screen and (max-width: 1279px) {
  html[lang="en"] {
    .display2 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }

    .display3 {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }

    .display4 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }

    .display6 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
  }

  html[lang="th"] {
    .display2 {
      font-size: 56px;
      line-height: 48px;
      font-weight: 700;
    }

    .display3 {
      font-size: 48px;
      line-height: 40px;
      font-weight: 700;
    }

    .display4 {
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
    }

    .display6 {
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
    }
  }
}

/* English (default) styles for larger screens */
@media screen and (min-width: 1280px) {
  html[lang="en"] {
    .display2 {
      font-size: 64px;
      line-height: 72px;
      font-weight: 700;
    }

    .display3 {
      font-size: 48px;
      line-height: 56px;
      font-weight: 700;
    }

    .display4 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
    }

    .display6 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
  }

  html[lang="th"] {
    .display2 {
      font-size: 96px;
      line-height: 72px;
      font-weight: 700;
    }

    .display3 {
      font-size: 72px;
      line-height: 56px;
      font-weight: 700;
    }

    .display4 {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
    }

    .display6 {
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
    }
  }
}

[lang="en"] {
  h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }

  h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  h5 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .lead-paragraph {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .small-paragraph {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .button {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

}

[lang="th"] {
  h1 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }

  h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
  }

  h5 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }

  .lead-paragraph {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
  }

  p {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
  }

  .small-paragraph {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }

  .button {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }
}